openapi: 3.0.0
info:
  description: |
    Welcome to the _Spotify Web API_ specification. For more information about
    how to use the API, check out the [Spotify's developer site](https://developer.spotify.com/web-api/).
  version: v1
  title: Spotify Web API
tags:
  - name: albums
    description: Endpoints for working with Albums
  - name: artists
    description: Endpoints for working with Artists
  - name: tracks
    description: Endpoints for dealing with Tracks
  - name: search
    description: Endpoints for working with Searching
  - name: me
    description: Endpoints for working with the user identity
  - name: users
    description: Endpoints for working with Users
  - name: browse
    description: Endpoints for working with browsing
  - name: following
    description: Endpoints for working with following
paths: {}
x-basePath: '/{version}'
servers:
  - url: 'https://api.spotify.com/v1'
components:
  parameters:
    trait_filterable_fields:
      name: fields
      in: query
      description: A comma-separated list of fields to filter query
      required: true
      schema:
        type: string
    trait_paged_limit:
      name: limit
      in: query
      description: The maximum number of items to return
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 50
        default: 20
    trait_paged_offset:
      name: offset
      in: query
      description: The index of the first item to return
      required: false
      schema:
        type: integer
        default: 0
  securitySchemes:
    refreshable-user-authentication:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://accounts.authorize.com/'
          scopes:
            user-library-read: ''
            user-library-modify: ''
            user-read-private: ''
            user-read-birthdate: ''
            user-read-email: ''
            user-follow-read: ''
            user-follow-modify: ''
            playlist-read-collaborative: ''
            playlist-read-private: ''
            playlist-modify-public: ''
            playlist-modify-private: ''
  schemas:
    album:
      type: object
      title: Album
      properties:
        album_type:
          type: string
          enum:
            - album
            - single
            - compilation
          description: 'The type of the album: album, single, or compilation.'
        artists:
          type: array
          description: The artists of the album. Each artist object includes a link in href to more detailed information about the artist.
          items:
            $ref: '#/components/schemas/artist'
        available_markets:
          type: array
          description: 'The markets in which the album is available: ISO 3166-1 alpha-2 country codes. Note that an album is considered available in a market when at least 1 of its tracks is available in that market.'
          items:
            type: string
        copyrights:
          type: array
          description: The copyright statements of the album.
          items:
            $ref: '#/components/schemas/copyright'
        external_ids:
          $ref: '#/components/schemas/external-id'
        external_urls:
          $ref: '#/components/schemas/external-url'
        genres:
          type: array
          description: 'A list of the genres used to classify the album. For example: “Prog Rock” , “Post-Grunge”. (If not yet classified, the array is empty.)'
          items:
            type: string
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the album.
        id:
          type: string
          description: The Spotify ID for the album.
        images:
          type: array
          description: 'The cover art for the album in various sizes, widest first.'
          items:
            $ref: '#/components/schemas/image'
        label:
          type: string
          description: The label for the album.
        name:
          type: string
          description: 'The name of the album. In case of an album takedown, the value may be an empty string.'
        popularity:
          type: integer
          description: 'The popularity of the album. The value will be between 0 and 100, with 100 being the most popular. The popularity is calculated from the popularity of the album’s individual tracks.'
        release_date:
          type: string
          pattern: '^([0-9]{4})(-[0-9]{2}){0,2}$'
          description: 'The date the album was first released, for example “1981-12-15”. Depending on the precision, it might be shown as “1981” or “1981-12”.'
        release_data_precision:
          type: string
          enum:
            - year
            - month
            - day
          description: 'The precision with which release_date value is known: “year” , “month” , or “day”.'
        restrictions:
          $ref: '#/components/schemas/album-restriction'
        tracks:
          type: array
          description: The tracks of the album.
          items:
            $ref: '#/components/schemas/simplified-track'
        type:
          type: string
          enum:
            - album
          description: 'The object type: “album”'
        uri:
          type: string
          description: The Spotify URI for the album.
    simplified-album:
      type: object
      properties:
        album_group:
          type: string
          description: 'The field is present when getting an artist’s albums. Possible values are “album”, “single”, “compilation”, “appears_on”. Compare to album_type this field represents relationship between the artist and the album.'
          enum:
            - album
            - simple
            - compilation
            - appears_on
        album_type:
          type: string
          description: 'The type of the album: one of “album”, “single”, or “compilation”.'
          enum:
            - album
            - single
            - compilation
        artists:
          type: array
          description: The artists of the album. Each artist object includes a link in href to more detailed information about the artist.
          items:
            $ref: '#/components/schemas/simplified-artist'
        available_markets:
          type: array
          description: 'The markets in which the album is available: ISO 3166-1 alpha-2 country codes. Note that an album is considered available in a market when at least 1 of its tracks is available in that market.'
          items:
            type: string
        external_urls:
          $ref: '#/components/schemas/external-url'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the album.
        id:
          type: string
          description: The Spotify ID for the album.
        images:
          type: array
          description: 'The cover art for the album in various sizes, widest first.'
          items:
            $ref: '#/components/schemas/image'
        name:
          type: string
          description: 'The name of the album. In case of an album takedown, the value may be an empty string.'
        release_date:
          type: string
          description: 'The date the album was first released, for example 1981. Depending on the precision, it might be shown as 1981-12 or 1981-12-15.'
        release_data_precision:
          type: string
          description: 'The precision with which release_date value is known: year , month , or day.'
          enum:
            - year
            - month
            - day
        restrictions:
          $ref: '#/components/schemas/album-restriction'
        type:
          type: string
          enum:
            - album
          description: 'The object type: “album”'
        uri:
          type: string
          description: The Spotify URI for the album.
    artist:
      type: object
      properties:
        external_urls:
          $ref: '#/components/schemas/external-url'
        followers:
          type: array
          description: Information about the followers of the artist.
          items:
            $ref: '#/components/schemas/followers'
        genres:
          type: array
          description: 'A list of the genres the artist is associated with. For example: "Prog Rock" , "Post-Grunge". (If not yet classified, the array is empty.)'
          items:
            type: string
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the artist.
        id:
          type: string
          description: The Spotify ID for the artist.
        images:
          type: array
          description: 'Images of the artist in various sizes, widest first.'
          items:
            $ref: '#/components/schemas/image'
        name:
          type: string
          description: The name of the artist.
        popularity:
          type: integer
          description: 'The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist’s popularity is calculated from the popularity of all the artist’s tracks.'
        type:
          type: string
          enum:
            - artist
          description: 'The object type: "artist"'
        uri:
          type: string
          description: The Spotify URI for the artist.
    simplified-artist:
      type: object
      properties:
        external_urls:
          $ref: '#/components/schemas/external-url'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the artist.
        id:
          type: string
          description: The Spotify ID for the artist.
        name:
          type: string
          description: The name of the artist.
        type:
          type: string
          enum:
            - artist
          description: 'The object type: "artist"'
        uri:
          type: string
          description: The Spotify URI for the artist.
    category:
      type: object
      properties:
        href:
          type: string
          description: A link to the Web API endpoint returning full details of the category.
        icons:
          type: array
          description: 'The category icon, in various sizes.'
          items:
            $ref: '#/components/schemas/image'
        id:
          type: string
          description: The Spotify category ID of the category.
        name:
          type: string
          description: The name of the category.
    image:
      type: object
      properties:
        height:
          type: integer
          description: 'The image height in pixels. If unknown: null or not returned.'
        url:
          type: string
          description: The source URL of the image.
        width:
          type: integer
          description: 'The image width in pixels. If unknown: null or not returned.'
    playlist:
      type: object
      properties:
        collaborative:
          type: boolean
          description: true if the owner allows other users to modify the playlist.
        description:
          type: string
          description: 'The playlist description. Only returned for modified, verified playlists, otherwise null.'
        external_urls:
          $ref: '#/components/schemas/external-url'
        followers:
          $ref: '#/components/schemas/followers'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the playlist.
        id:
          type: string
          description: The Spotify ID for the playlist.
        images:
          type: array
          description: 'Images for the playlist. The array may be empty or contain up to three images. The images are returned by size in descending order. See Working with Playlists. Note: If returned, the source URL for the image (url) is temporary and will expire in less than a day.'
          items:
            $ref: '#/components/schemas/image'
        name:
          type: string
          description: The name of the playlist.
        owner:
          $ref: '#/components/schemas/public-user'
        public:
          type: boolean
          description: 'The playlist’s public/private status: true the playlist is public, false the playlist is private, null the playlist status is not relevant. For more about public/private status, see Working with Playlists'
        snapshot_id:
          type: string
          description: The version identifier for the current playlist. Can be supplied in other requests to target a specific playlist version
        tracks:
          $ref: '#/components/schemas/playlist-track'
        type:
          type: string
          description: 'The object type: “playlist”'
          enum:
            - playlist
        uri:
          type: string
          description: The Spotify URI for the playlist.
    playlist-track:
      type: object
      properties:
        added_at:
          type: string
          format: date-time
          description: The date and time the track or episode was added. Note that some very old playlists may return null in this field.
        added_by:
          $ref: '#/components/schemas/public-user'
        is_local:
          type: boolean
          description: Whether this track or episode is a local file or not.
        track:
          oneOf:
            - $ref: '#/components/schemas/track'
            - $ref: '#/components/schemas/episode'
          description: Information about the track or episode.
    track:
      type: object
      properties:
        album:
          $ref: '#/components/schemas/simplified-album'
        artists:
          type: array
          description: The artists who performed the track. Each artist object includes a link in href to more detailed information about the artist.
          items:
            $ref: '#/components/schemas/artist'
        available_markets:
          type: array
          description: 'A list of the countries in which the track can be played, identified by their ISO 3166-1 alpha-2 code.'
          items:
            type: string
        disc_number:
          type: integer
          description: The disc number (usually 1 unless the album consists of more than one disc).
        duration_ms:
          type: integer
          description: The track length in milliseconds.
        explicit:
          type: boolean
          description: Whether or not the track has explicit lyrics ( true = yes it does; false = no it does not OR unknown).
        external_ids:
          $ref: ''
        external_urls:
          $ref: '#/components/schemas/external-url'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the track.
        id:
          type: string
          description: The Spotify ID for the track.
        is_local:
          type: boolean
          description: Whether or not the track is from a local file.
        is_playable:
          type: boolean
          description: 'Part of the response when Track Relinking is applied. If true , the track is playable in the given market. Otherwise false.'
        linked_from:
          type: object
          description: 'Part of the response when Track Relinking is applied, and the requested track has been replaced with different track. The track in the linked_from object contains information about the originally requested track.'
        name:
          type: string
          description: The name of the track.
        popularity:
          type: integer
          description: |-
            The popularity of the track. The value will be between 0 and 100, with 100 being the most popular.
            The popularity of a track is a value between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.
            Generally speaking, songs that are being played a lot now will have a higher popularity than songs that were played a lot in the past. Duplicate tracks (e.g. the same track from a single and an album) are rated independently. Artist and album popularity is derived mathematically from track popularity. Note that the popularity value may lag actual popularity by a few days: the value is not updated in real time.
        preview_url:
          type: string
          description: A link to a 30 second preview (MP3 format) of the track. Can be null
        restrictions:
          $ref: '#/components/schemas/track-restriction'
        track_number:
          type: integer
          description: 'The number of the track. If an album has several discs, the track number is the number on the specified disc.'
        type:
          type: string
          enum:
            - track
          description: 'The object type: “track”.'
        uri:
          type: string
          description: The Spotify URI for the track.
    followers:
      type: object
      properties:
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the followers; null if not available. Please note that this will always be set to null, as the Web API does not support it at the moment.'
        total:
          type: integer
          description: The total number of followers.
    saved-track:
      type: object
      properties:
        added_at:
          type: string
          format: date-time
          description: 'The date and time the show was saved. Timestamps are returned in ISO 8601 format as Coordinated Universal Time (UTC) with a zero offset: YYYY-MM-DDTHH:MM:SSZ. If the time is imprecise (for example, the date/time of an album release), an additional field indicates the precision; see for example, release_date in an album object.'
        track:
          $ref: '#/components/schemas/track'
    copyright:
      title: copyright
      type: object
      properties:
        text:
          type: string
          description: The copyright text for this content.
        type:
          type: string
          enum:
            - C
            - P
          description: 'The type of copyright: C = the copyright, P = the sound recording (performance) copyright.'
    external-id:
      title: external-id
      type: object
      description: ''
      properties:
        ean:
          type: string
          pattern: '(?<=\s)\d{13}(?=\s)'
          description: '(International Article Number)[https://en.wikipedia.org/wiki/International_Article_Number_%28EAN%29]'
        isrc:
          type: string
          description: '(International Standard Recording Code)[https://en.wikipedia.org/wiki/International_Standard_Recording_Code]'
        upc:
          type: string
          description: '(Universal Product Code)[en.wikipedia.org/wiki/Universal_Product_Code]'
    external-url:
      title: external-url
      type: object
      description: Known external urls
      properties:
        spotify:
          type: string
          description: The Spotify URL for the object.
    album-restriction:
      title: album-restriction
      type: object
      properties:
        reason:
          type: string
          enum:
            - market
            - product
            - explicit
          description: |-
            The reason for the restriction. Supported values:

                * market - The content item is not available in the given market.
                * product - The content item is not available for the user’s subscription type.
                * explicit - The content item is explicit and the user’s account is set to not play explicit content.
                Additional reasons may be added in the future. Note: If you use this field, make sure that your application safely handles unknown values.
    audio-features:
      title: audio-features
      type: object
      description: ''
      properties:
        acousticness:
          type: number
          description: A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.
        analysis_url:
          type: string
          description: An HTTP URL to access the full audio analysis of this track. An access token is required to access this data.
        danceability:
          type: number
          description: 'Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.'
        duration_ms:
          type: integer
          description: The duration of the track in milliseconds.
        energy:
          type: number
          description: 'Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.'
        id:
          type: string
          description: The Spotify ID for the track.
        instrumentalness:
          type: number
          description: 'Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.'
        key:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
          description: 'The key the track is in. Integers map to pitches using standard Pitch Class notation . E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on.'
        liveness:
          type: number
          description: Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.
        loudness:
          type: number
          description: The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db.
        mode:
          type: integer
          enum:
            - 0
            - 1
          description: 'Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.'
        speechiness:
          type: number
          description: 'Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.'
        tempo:
          type: number
          description: 'The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.'
        time_signature:
          type: integer
          description: An estimated overall time signature of a track. The time signature (meter) is a notational convention to specify how many beats are in each bar (or measure).
        track_href:
          type: string
          description: A link to the Web API endpoint providing full details of the track.
        type:
          type: string
          enum:
            - audio_features
          description: 'The object type: “audio_features”'
        uri:
          type: string
          description: The Spotify URI for the track.
        valence:
          type: number
          description: 'A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).'
    context:
      title: context
      type: object
      properties:
        external_urls:
          type: string
          description: External URLs for this context.
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the track.
        type:
          type: string
          description: 'The object type, e.g. “artist”, “playlist”, “album”, “show”.'
          enum:
            - artist
            - playlist
            - album
            - show
        uri:
          type: string
          description: The Spotify URI for the context.
    currently-playing-context:
      title: currently-playing-context
      type: object
      properties:
        actions:
          $ref: '#/components/schemas/disallows'
        context:
          $ref: '#/components/schemas/context'
        currently_playing_type:
          type: string
          enum:
            - track
            - episode
            - ad
            - unknown
          description: 'The object type of the currently playing item. Can be one of track, episode, ad or unknown.'
        device:
          $ref: '#/components/schemas/device'
        item:
          anyOf:
            - $ref: '#/components/schemas/track'
            - $ref: '#/components/schemas/episode'
          description: The currently playing track or episode. Can be null.
        progress_ms:
          type: integer
          description: Progress into the currently playing track or episode. Can be null.
        repeat_state:
          type: string
          enum:
            - 'off'
            - track
            - context
          description: 'off, track, context'
        shuffle_state:
          type: string
          description: If shuffle is on or off.
        timestamp:
          type: string
          format: date-time
          description: Unix Millisecond Timestamp when data was fetched.
        is_playing:
          type:
            boolean
          description: 'If something is currently playing, return true.'
    disallows:
      title: disallows
      type: object
      properties:
        interrupting_playback:
          type: string
          description: Interrupting playback. Optional field.
        pausing:
          type: string
          description: Pausing. Optional field.
        resuming:
          type: string
          description: Resuming. Optional field.
        seeking:
          type: string
          description: Seeking playback location. Optional field.
        skipping_next:
          type: string
          description: Skipping to the next context. Optional field.
        skipping_prev:
          type: string
          description: Skipping to the previous context. Optional field.
        toggling_repeat_context:
          type: string
          description: Toggling repeat context flag. Optional field.
        toggling_repeat_track:
          type: string
          description: Toggling repeat track flag. Optional field.
        toggling_shuffle:
          type: string
          description: Toggling shuffle flag. Optional field.
        transferring_playback:
          type: string
          description: Transfering playback between devices. Optional field.
    device:
      title: device
      type: object
      properties:
        id:
          type: string
          description: The device ID. This may be null.
        is_active:
          type: boolean
          description: If this device is the currently active device.
        is_private_session:
          type: boolean
          description: If this device is currently in a private session.
        is_restricted:
          type: boolean
          description: Whether controlling this device is restricted. At present if this is “true” then no Web API commands will be accepted by this device.
        name:
          type: string
          description: The name of the device.
        type:
          type: string
          enum:
            - computer
            - smartphone
            - speaker
          description: 'Device type, such as “computer”, “smartphone” or “speaker”.'
        volume_percent:
          type: string
          description: The current volume in percent. This may be null.
    episode:
      title: episode
      type: object
      properties:
        audio_preview_url:
          type: string
          description: A URL to a 30 second preview (MP3 format) of the episode. null if not available.
        description:
          type: string
          description: A description of the episode.
        duration_ms:
          type: integer
          description: The episode length in milliseconds.
        explicit:
          type: boolean
          description: Whether or not the episode has explicit content (true = yes it does; false = no it does not OR unknown).
        external_urls:
          $ref: '#/components/schemas/external-url'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the episode.
        id:
          type: string
          description: The Spotify ID for the episode.
        images:
          type: array
          description: 'The cover art for the episode in various sizes, widest first.'
          items:
            $ref: '#/components/schemas/image'
        is_externally_hosted:
          type: boolean
          description: True if the episode is hosted outside of Spotify’s CDN.
        is_playable:
          type: boolean
          description: True if the episode is playable in the given market. Otherwise false.
        language:
          type: string
          description: 'A list of the languages used in the episode, identified by their ISO 639 code.'
        languages:
          type: array
          description: The name of the episode.
          items:
            type: string
        name:
          type: string
          description: The name of the episode.
        release_date:
          type: string
          description: 'The date the episode was first released, for example "1981-12-15". Depending on the precision, it might be shown as "1981" or "1981-12".'
        release_data_precision:
          type: string
          description: 'The precision with which release_date value is known: "year", "month", or "day".'
        resume_point:
          $ref: '#/components/schemas/resume-point'
        show:
          $ref: '#/components/schemas/simplified-show'
        type:
          type: string
          description: 'The object type: “episode”.'
          enum:
            - episode
        uri:
          type: string
          description: The Spotify URI for the episode.
    currently-playing:
      title: currently-playing
      type: object
      properties:
        context:
          $ref: '#/components/schemas/context'
        currently_playing_type:
          type: string
          description: 'The object type of the currently playing item. Can be one of track, episode, ad or unknown.'
          enum:
            - track
            - episode
            - ad
            - unknown
        is_playing:
          type: boolean
        item:
          oneOf:
            - $ref: '#/components/schemas/track'
            - $ref: '#/components/schemas/episode'
        progress_ms:
          type: integer
        timestamp:
          type: string
          format: time
    cursor:
      title: cursor
      type: object
      properties:
        after:
          type: string
          description: The cursor to use as key to find the next page of items.
    cursor-paging:
      title: cursor-paging
      type: object
      properties:
        cursors:
          $ref: '#/components/schemas/cursor'
        href:
          type: string
          description: A link to the Web API endpoint returning the full result of the request.
        items:
          type: array
          description: The requested data.
          items:
            type: object
        limit:
          type: integer
          description: The maximum number of items in the response (as set in the query or by default).
        next:
          type: string
          description: URL to the next page of items. ( null if none)
        total:
          type: integer
          description: The total number of items available to return.
    devices:
      title: devices
      type: object
      properties:
        devices:
          type: array
          description: A list of 0..n Device objects
          items:
            $ref: '#/components/schemas/device'
    error:
      title: error
      type: object
      properties:
        error:
          type: string
          description: A short description of the cause of the error.
        status:
          type: integer
          description: The HTTP status code (also returned in the response header; see Response Status Codes for more information).
    resume-point:
      title: resume-point
      type: object
      properties:
        fully_played:
          type: boolean
          description: Whether or not the episode has been fully played by the user.
        resume_position_ms:
          type: integer
          description: The user’s most recent position in the episode in milliseconds.
    explicit-content-settings:
      title: explicit-content-settings
      type: object
      properties:
        filter_enabled:
          type: boolean
          description: 'When true, indicates that explicit content should not be played.'
        filter_locked:
          type: boolean
          description: 'When true, indicates that the explicit content setting is locked and can’t be changed by the user.'
    linked-track:
      title: linked-track
      type: object
      properties:
        external_urls:
          $ref: '#/components/schemas/external-url'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the track.
        id:
          type: string
          description: The Spotify ID for the track.
        type:
          type: string
          description: 'The object type: “track”.'
        uri:
          type: string
          description: The Spotify URI for the track.
    paging:
      title: paging
      type: object
      properties:
        href:
          type: string
          description: A link to the Web API endpoint returning the full result of the request
        items:
          type: array
          description: The requested data.
          items:
            type: object
        limit:
          type: integer
          description: The maximum number of items in the response (as set in the query or by default).
        next:
          type: string
          description: URL to the next page of items. ( null if none)
        offset:
          type: integer
          description: The offset of the items returned (as set in the query or by default)
        previous:
          type: string
          description: URL to the previous page of items. ( null if none)
        total:
          type: integer
          description: The total number of items available to return.
    play-history:
      title: play-history
      type: object
      properties:
        context:
          $ref: '#/components/schemas/context'
        played_at:
          type: string
          format: time
          description: The date and time the track was played.
        track:
          $ref: '#/components/schemas/simplified-track'
    player-error:
      title: player-error
      type: object
      properties:
        message:
          type: string
          description: A short description of the cause of the error.
        reason:
          type: string
          enum:
            - NO_PREV_TRACK
            - NO_NEXT_TRACK
            - NO_SPECIFIC_TRACK
            - ALREADY_PAUSED
            - NOT_PAUSED
            - NOT_PLAYING_LOCALLY
            - NOT_PLAYING_TRACK
            - NOT_PLAYING_CONTEXT
            - ENDLESS_CONTEXT
            - CONTEXT_DISALLOW
            - ALREADY_PLAYING
            - RATE_LIMITED
            - REMOVE_CONTROL_DISALLOW
            - DEVICE_NOT_CONTROLLABLE
            - VOLUME_CONTROL_DISALLOW
            - NO_ACTIVE_DEVICE
            - PREMIUM_REQUIRED
            - UNKNOWN
          description: |2-
































































                
                * NO_PREV_TRACK - The command requires a previous track, but there is none in the context.
                * NO_NEXT_TRACK - The command requires a next track, but there is none in the context.
                * NO_SPECIFIC_TRACK - The requested track does not exist.
                * ALREADY_PAUSED - The command requires playback to not be paused.
                * NOT_PAUSED - The command requires playback to be paused.
                * NOT_PLAYING_LOCALLY - The command requires playback on the local device.
                * NOT_PLAYING_TRACK - The command requires that a track is currently playing.
                * NOT_PLAYING_CONTEXT - The command requires that a context is currently playing.
                * ENDLESS_CONTEXT - The shuffle command cannot be applied on an endless context.
                * CONTEXT_DISALLOW - The command could not be performed on the context.
                * ALREADY_PLAYING - The track should not be restarted if the same track and context is already playing, and there is a resume point.
                * RATE_LIMITED - The user is rate limited due to too frequent track play, also known as cat-on-the-keyboard spamming.
                * REMOTE_CONTROL_DISALLOW - The context cannot be remote-controlled.
                * DEVICE_NOT_CONTROLLABLE - Not possible to remote control the device.
                * VOLUME_CONTROL_DISALLOW - Not possible to remote control the device’s volume.
                * NO_ACTIVE_DEVICE - Requires an active device and the user has none.
                * PREMIUM_REQUIRED - The request is prohibited for non-premium users.
                * UNKNOWN - Certain actions are restricted because of unknown reasons.
        status:
          type: integer
          description: The HTTP status code. Either 404 NOT FOUND or 403 FORBIDDEN. Also returned in the response header.
          enum:
            - 403
            - 404
    public-user:
      title: public-user
      type: object
      properties:
        display_name:
          type: string
          description: The name displayed on the user’s profile. null if not available.
        external_urls:
          $ref: '#/components/schemas/external-url'
        followers:
          $ref: '#/components/schemas/followers'
        href:
          type: string
          description: A link to the Web API endpoint for this user.
        id:
          type: string
          description: The Spotify user ID for this user.
        images:
          type: array
          description: The user’s profile image.
          items:
            $ref: '#/components/schemas/image'
        type:
          type: string
          description: 'The object type: “user”'
          enum:
            - user
        uri:
          type: string
          description: The Spotify URI for this user.
    playlist-tracks-ref:
      title: playlist-tracks-ref
      type: object
      properties:
        href:
          type: string
          description: A link to the Web API endpoint where full details of the playlist’s tracks can be retrieved.
        total:
          type: integer
          description: Number of tracks in the playlist.
    private-user:
      title: private-user
      type: object
      properties:
        country:
          type: string
          description: 'The country of the user, as set in the user’s account profile. An ISO 3166-1 alpha-2 country code. This field is only available when the current user has granted access to the user-read-private scope.'
        display_name:
          type: string
          description: The name displayed on the user’s profile. null if not available.
        email:
          type: string
          description: 'The user’s email address, as entered by the user when creating their account. Important! This email address is unverified; there is no proof that it actually belongs to the user. This field is only available when the current user has granted access to the user-read-email scope.'
        explicit_content:
          $ref: '#/components/schemas/explicit-content-settings'
        external_urls:
          $ref: '#/components/schemas/external-url'
        followers:
          $ref: '#/components/schemas/followers'
        href:
          type: string
          description: A link to the Web API endpoint for this user.
        id:
          type: string
          description: The Spotify user ID for the user.
        images:
          type: array
          description: The user’s profile image.
          items:
            $ref: '#/components/schemas/image'
        product:
          type: string
          description: 'The user’s Spotify subscription level: “premium”, “free”, etc. (The subscription level “open” can be considered the same as “free”.) This field is only available when the current user has granted access to the user-read-private scope.'
        type:
          type: string
          description: 'The object type: “user”'
          enum:
            - user
        uri:
          type: string
          description: The Spotify URI for the user.
    recommendation-seed:
      title: recommendation-seed
      type: object
      properties:
        afterFilteringSize:
          type: integer
          description: The number of tracks available after min_* and max_* filters have been applied.
        afterRelinkingSize:
          type: integer
          description: The number of tracks available after relinking for regional availability.
        href:
          type: string
          description: 'A link to the full track or artist data for this seed. For tracks this will be a link to a Track Object. For artists a link to an Artist Object. For genre seeds, this value will be null.'
        id:
          type: string
          description: 'The id used to select this seed. This will be the same as the string used in the seed_artists, seed_tracks or seed_genres parameter.'
        intialPoolSize:
          type: integer
          description: The number of recommended tracks available for this seed.
        type:
          type: string
          description: 'The entity type of this seed. One of artist, track or genre.'
    recommendations:
      title: recommendations
      type: object
      properties:
        seeds:
          type: array
          description: An array of recommendation seed objects.
          items:
            $ref: '#/components/schemas/recommendation-seed'
        tracks:
          type: array
          description: An array of track object (simplified) ordered according to the parameters supplied.
          items:
            $ref: '#/components/schemas/simplified-track'
    saved-album:
      title: saved-album
      type: object
      properties:
        added_at:
          type: string
          format: date-time
          description: 'The date and time the album was saved Timestamps are returned in ISO 8601 format as Coordinated Universal Time (UTC) with a zero offset: YYYY-MM-DDTHH:MM:SSZ. If the time is imprecise (for example, the date/time of an album release), an additional field indicates the precision; see for example, release_date in an album object.'
        album:
          $ref: '#/components/schemas/album'
    saved-show:
      title: saved-show
      type: object
      properties:
        added_at:
          type: string
          format: date-time
          description: 'The date and time the show was saved. Timestamps are returned in ISO 8601 format as Coordinated Universal Time (UTC) with a zero offset: YYYY-MM-DDTHH:MM:SSZ. If the time is imprecise (for example, the date/time of an album release), an additional field indicates the precision; see for example, release_date in an album object.'
        show:
          $ref: '#/components/schemas/simplified-show'
    show:
      title: show
      type: object
      description: ''
      properties:
        available_markets:
          type: array
          description: 'A list of the countries in which the show can be played, identified by their ISO 3166-1 alpha-2 code.'
          items:
            type: string
        copyrights:
          type: array
          description: The copyright statements of the show.
          items:
            $ref: '#/components/schemas/copyright'
        description:
          type: string
          description: A description of the show.
        episodes:
          type: array
          description: A list of the show’s episodes.
          items:
            $ref: '#/components/schemas/simplified-episode'
        explicit:
          type: boolean
          description: Whether or not the show has explicit content (true = yes it does; false = no it does not OR unknown).
        external_urls:
          $ref: '#/components/schemas/external-url'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the show.
        id:
          type: string
          description: The Spotify ID for the show.
        images:
          type: array
          description: 'The cover art for the show in various sizes, widest first.'
          items:
            $ref: '#/components/schemas/image'
        is_externally_hosted:
          type: boolean
          description: True if all of the show’s episodes are hosted outside of Spotify’s CDN. This field might be null in some cases.
        languages:
          type: array
          description: 'A list of the languages used in the show, identified by their ISO 639 code.'
          items:
            type: string
        media_type:
          type: string
          description: The media type of the show.
        name:
          type: string
          description: The name of the episode.
        publisher:
          type: string
          description: The publisher of the show.
        type:
          type: string
          description: 'The object type: “show”.'
          enum:
            - show
        uri:
          type: string
          description: The Spotify URI for the show.
    simplified-episode:
      title: simplified-episode
      type: object
      properties:
        audio_preview_url:
          type: string
          description: A URL to a 30 second preview (MP3 format) of the episode. null if not available.
        description:
          type: string
          description: A description of the episode.
        duration_ms:
          type: integer
          description: The episode length in milliseconds.
        explicit:
          type: boolean
          description: Whether or not the episode has explicit content (true = yes it does; false = no it does not OR unknown).
        external_urls:
          $ref: '#/components/schemas/external-url'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the episode.
        id:
          type: string
          description: The Spotify ID for the episode.
        images:
          type: array
          description: 'The cover art for the episode in various sizes, widest first.'
          items:
            $ref: '#/components/schemas/image'
        is_externally_hosted:
          type: boolean
          description: True if the episode is hosted outside of Spotify’s CDN.
        is_playable:
          type: boolean
          description: True if the episode is playable in the given market. Otherwise false.
        language:
          type: string
          description: 'Note: This field is deprecated and might be removed in the future. Please use the languages field instead. The language used in the episode, identified by a ISO 639 code'
        languages:
          type: array
          description: 'A list of the languages used in the episode, identified by their ISO 639 code.'
          items:
            type: string
        name:
          type: string
          description: The name of the episode.
        release_date:
          type: string
          description: 'The date the episode was first released, for example "1981-12-15". Depending on the precision, it might be shown as "1981" or "1981-12".'
        release_data_precision:
          type: string
          description: 'The precision with which release_date value is known: "year", "month", or "day".'
        resume_point:
          type: string
          description: The user’s most recent position in the episode. Set if the supplied access token is a user token and has the scope ‘user-read-playback-position’.
        type:
          type: string
          description: 'The object type: “episode”.'
        uri:
          type: string
          description: The Spotify URI for the episode.
    simplified-playlist:
      title: simplified-playlist
      type: object
      properties:
        collaborative:
          type: boolean
          description: true if the owner allows other users to modify the playlist.
        description:
          type: string
          description: 'The playlist description. Only returned for modified, verified playlists, otherwise null.'
        external_urls:
          $ref: '#/components/schemas/external-url'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the playlist.
        id:
          type: string
          description: The Spotify ID for the playlist.
        images:
          type: array
          description: 'Images for the playlist. The array may be empty or contain up to three images. The images are returned by size in descending order. See Working with Playlists. Note: If returned, the source URL for the image (url) is temporary and will expire in less than a day.'
          items:
            $ref: '#/components/schemas/image'
        name:
          type: string
          description: The name of the playlist.
        owner:
          $ref: '#/components/schemas/public-user'
        public:
          type: boolean
          description: 'The playlist’s public/private status: true the playlist is public, false the playlist is private, null the playlist status is not relevant. For more about public/private status, see Working with Playlists'
        snapshot_id:
          type: string
          description: The version identifier for the current playlist. Can be supplied in other requests to target a specific playlist version
        tracks:
          $ref: '#/components/schemas/playlist-tracks-ref'
        type:
          type: string
          enum:
            - playlist
          description: 'The object type: “playlist”'
        uri:
          type: string
          description: The Spotify URI for the playlist.
    simplified-track:
      title: simplified-track
      type: object
      properties:
        artists:
          type: array
          description: The artists who performed the track. Each artist object includes a link in href to more detailed information about the artist.
          items:
            $ref: '#/components/schemas/simplified-artist'
        available_markets:
          type: array
          description: 'A list of the countries in which the track can be played, identified by their ISO 3166-1 alpha-2 code.'
          items:
            type: string
        disc_number:
          type: integer
          description: The disc number (usually 1 unless the album consists of more than one disc).
        duration_ms:
          type: integer
          description: The track length in milliseconds.
        explicit:
          type: boolean
          description: Whether or not the track has explicit lyrics ( true = yes it does; false = no it does not OR unknown).
        external_urls:
          $ref: '#/components/schemas/external-url'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the track.
        id:
          type: string
          description: The Spotify ID for the track.
        is_local:
          type: boolean
          description: Whether or not the track is from a local file.
        is_playable:
          type: boolean
          description: 'Part of the response when Track Relinking is applied. If true , the track is playable in the given market. Otherwise false.'
        linked_from:
          $ref: '#/components/schemas/linked-track'
        name:
          type: string
          description: The name of the track.
        preview_url:
          type: string
          description: A URL to a 30 second preview (MP3 format) of the track.
        restrictions:
          $ref: '#/components/schemas/track-restriction'
        track_number:
          type: integer
          description: 'The number of the track. If an album has several discs, the track number is the number on the specified disc.'
        type:
          type: string
          enum:
            - track
          description: 'The object type: “track”.'
        uri:
          type: string
          description: The Spotify URI for the track.
    track-restriction:
      title: track-restriction
      type: object
      properties:
        reason:
          type: string
          enum:
            - market
            - product
            - explicit
          description: |
            The reason for the restriction. Supported values:

                * market - The content item is not available in the given market.
                * product - The content item is not available for the user’s subscription type.
                * explicit - The content item is explicit and the user’s account is set to not play explicit content.
                * Additional reasons may be added in the future. Note: If you use this field, make sure that your application safely handles unknown values.
    tuneable-track:
      title: tuneable-track
      type: object
      properties:
        acousticness:
          type: number
          description: A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.
        danceability:
          type: number
          description: 'Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.'
        duration_ms:
          type: integer
          description: The duration of the track in milliseconds.
        energy:
          type: number
          description: 'Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.'
        instrumentalness:
          type: number
          description: 'Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.'
        key:
          type: integer
          description: 'The key the track is in. Integers map to pitches using standard Pitch Class notation. E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on.'
        liveness:
          type: number
          description: Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.
        loudness:
          type: number
          description: The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db.
        mode:
          type: integer
          enum:
            - 0
            - 1
          description: 'Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.'
        popularity:
          type: number
          description: 'The popularity of the track. The value will be between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are. Note: When applying track relinking via the market parameter, it is expected to find relinked tracks with popularities that do not match min_*, max_*and target_* popularities. These relinked tracks are accurate replacements for unplayable tracks with the expected popularity scores. Original, non-relinked tracks are available via the linked_from attribute of the relinked track response.'
        speechiness:
          type: number
          description: 'Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.'
        tempo:
          type: number
          description: 'The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.'
        time_signature:
          type: integer
          description: An estimated overall time signature of a track. The time signature (meter) is a notational convention to specify how many beats are in each bar (or measure).
        valence:
          type: number
          description: 'A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).'
    simplified-show:
      title: simplified-show
      type: object
      properties:
        available_markets:
          type: array
          description: 'A list of the countries in which the show can be played, identified by their ISO 3166-1 alpha-2 code.'
          items:
            type: string
        copyrights:
          type: array
          description: The copyright statements of the show.
          items:
            $ref: '#/components/schemas/copyright'
        description:
          type: string
          description: A description of the show.
        explicit:
          type: boolean
          description: Whether or not the show has explicit content (true = yes it does; false = no it does not OR unknown).
        external_urls:
          $ref: '#/components/schemas/external-url'
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the show.
        id:
          type: string
          description: The Spotify ID for the show.
        images:
          type: array
          description: 'The cover art for the show in various sizes, widest first.'
          items:
            $ref: ''
        is_externally_hosted:
          type: boolean
          description: True if all of the show’s episodes are hosted outside of Spotify’s CDN. This field might be null in some cases.
        languages:
          type: array
          description: 'A list of the languages used in the show, identified by their ISO 639 code.'
          items:
            type: string
        media_type:
          type: string
          description: The media type of the show.
        name:
          type: string
          description: The name of the episode.
        publisher:
          type: string
          description: The publisher of the show.
        type:
          type: string
          description: 'The object type: “show”.'
        uri:
          type: string
          description: The Spotify URI for the show.
